 pip install torch torchvision torchaudio xformers 
 pip install webdriver-manager
 pip install selenium
 pip install toml
 pip install google-auth-oauthlib
 pip install opencv-python
 pip install scikit-image
 pip install filetype
 pip install diffusers
 pip install moviepy
 pip install playsound
 pip install pyrubberband
 pip install playwright
 pip install pydub
 pip install google-generativeai
pip install pytz
pip install diffusers[torch] transformers accelerate safetensors
pip install python-telegram-bot
